SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:mysql://localhost:3306/your_database_name?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=your_password

# Security Configuration
# Secret key nên là một chuỗi dài, ví dụ dùng OpenSSL để tạo
SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
# Expiration (Tính bằng Miliseconds)
ACCESS_TOKEN_EXPIRATION_IN_MILLIS=3600000          # 1 giờ
REFRESH_TOKEN_EXPIRATION_IN_MILLIS=604800000      # 7 ngày
MONITORING_SECRET=your_monitoring_secret_key
ACTUATOR_BASE_PATH=/actuator

# Application Configuration
FRONTEND_BASE_URL=http://localhost:3000

# Mail Configuration
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@se109.com


# Logging Configuration
LOKI_URL=
LOKI_USERNAME=
LOKI_PASSWORD=
